body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header,
.content,
footer {
  text-align: center;
  padding: 20px;
}

.imageAdjusments {
  width: 120px;
  border-radius: 45%;
}

.navigation {
  background-color: pink;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navigation a:hover {
  background-color: azure;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-template-areas:
    "a a"
    "e i"
    "p s"
    "d d";

  grid-template-rows: auto;
}

.about {
  grid-area: a;
  text-align: center;
  font-style: italic;
  margin: 20px auto;
  width: 80%;
  background-color: pink;
}

.education {
  grid-area: e;
  text-align: center;
}

.interest {
  grid-area: i;
  text-align: center;
}

.project {
  grid-area: p;
  text-align: center;
}

.skills {
  grid-area: s;
  text-align: center;
}

.contact {
  grid-area: d;
  text-align: center;
  background-color: pink;
  padding: 0;
}

.full-grid-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#image {
  text-align: center;
}

.languageImages {
  width: 30%;
}

html {
  scroll-behavior: smooth;
}

.forProjects {
  font-style: italic;
  text-align: center;
}

.imageForGithub {
  width: 5%;
  height: 10%;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "a"
      "e"
      "i"
      "p"
      "s"
      "d";
  }
}
