body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* .forTheAboutMe {
  text-align: center;
  font-style: italic;
  background-color: pink;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
} */

.forTopPart {
  background-color: whitesmoke;
}

#header,
.content,
footer {
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
}

.imageAdjusments {
  width: 120px;
  border-radius: 45%;
}

#image {
  text-align: center;
}

.languageImages {
  width: 10%;
}

.forProjects {
  font-style: italic;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  margin: 10px 0;
}
.content p,
.forTheAboutMe p {
  margin: 10px 0;
}
.navigation {
  background-color: pink;
  overflow: hidden;
}
.navigation a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: solid;
  font-size: 17px;
}
.navigation a:hover {
  background-color: azure;
}
.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr 3fr 3fr 3fr 3fr 1fr);
  grid-template-areas:
    "a a"
    "e d"
    "i d"
    "p d"
    "s d"
    "c c c c";
}

.about {
  grid-area: a;
  text-align: center;
  font-style: italic;
  background-color: pink;
  /* padding: 20px; */
  /* margin: 20px auto;
  width: 80%; */
}
.container > div {
  background-color: orange;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.education {
  grid-area: e;
}

.interest {
  grid-area: i;
}

.project {
  grid-area: p;
}

.skills {
  grid-area: s;
}

.content {
  grid-area: d;
}

.contact {
  grid-area: c;
}
